body
{   top: 0;
    overflow-x:auto;
    overflow-y:auto;

}
.forgot_password{
	background-image: url("cover.jpg");
    background-color: #1e73bc;
    width:100vw;
    height:100vw;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-clip: inherit;
    background-size: cover;
}
.logo{
    font-family: 'Poiret One', cursive;
    font-weight: 600; 
    color: white;
    font-size: 3.5em;
    }
#password_form{ 
    margin: 0 auto;
    width: 60%;
    height: 55%;
    margin-top: 10px;

}
#form_spacing{
    
    margin-top: 10px;
    width:250%;
    margin-left: 50%;
}
.form_name{
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.15em;
}
#button{
    margin-top: 10px;
    margin-left: 45%;
    border: no-border;
}
#button_heading{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #1e73fc;  
}
.photo {
	float: left;
	margin: 0.5em;
	border: 1px solid #ccc;
	padding: 1em;
	font-size: 15px;
	text-align: center;
	overflow-x:auto;
	overflow-y:auto;
}
