body
{   top: 0;
    overflow-x:auto;
    overflow-y:auto;
	z-index: 9000;

}
.signin{
    background-image: url("cover.jpg");
    background-color: #1e73bc;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-clip: inherit;
    background-size: cover;
   width:100vw;
    height:100vw;
	z-index: 9000;
}
.logo{
    font-family: 'Poiret One', cursive;
    font-weight: 600; 
    color: white;
    font-size: 3.5em;
    }
#signin_form{ 
    margin: 0 auto;
    width: 60%;
    height: 55%;
    margin-top: 10px;
	z-index: 9000;

}


#form_spacing{
    
    margin-top: 10px;
    width:250%;
    margin-left: 50%;
	z-index: 9000;
}
.form_name{
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.15em;
	z-index: 9000;
}
#button{
    margin-top: 10px;
    margin-left: 45%;
    border: no-border;
	z-index: 9000;
}
#button_heading{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #1e73fc;  
	z-index: 9000;
}
